## ~/monservice/config.cfg

# -----
# IMAGE
# -----

## Nom du conteneur
NOM="monconteneur"

## Nom de l'image utilisée (locale de préférence)
IMAGE="lmilcent/monimage"

## Tag "latest" par defaut
TAG=""


# -----------
# COMPILATION
# -----------

## Chemin vers le fichier "Dockerfile" pour une compilation locale (vide par défaut)
## Chemin relatif ou complet
## Si le chemin est vide, hub.docker.com sera utilisé
BUILD_PATH="../Dockerfiles/monimage/"

## Labels à rajouter lors de la compilation de l'image. Rien par défaut.
LABEL=""


# ---------
# LANCEMENT
# ---------

## Synchroniser l'horloge avec /etc/localtime : true (défaut) / false
LOCALTIME=true

## Interactif avec ou sans shell : true / false (défaut)
INTERACTIVE=false
TTY=true

## Attacher ou detacher : true (défaut) / false
DETACH=true

## Restart - no (défaut)/ on-failure[:nb] / always / unless-stopped
RESTART=unless-stopped

## Supprimer si arrêté (non compatible avec RESTART autre que "no") - false (défaut) / true
REMOVE=false

## Stop Timeout
STOPTIMEOUT=10


# -----------
# PERFORMANCE
# -----------

## Cpu : 1 (défaut) / 0 pour désactiver la limite
NBCPUS=2

## Memoire Ram et Swap : 0 pour désactiver
MEM=1024m

## SWAP Total possible = SWAP - MEM
MEMSWAP=1024m
MEMSWAPPINESS=0


# ------------
# VOLUME & ENV
# ------------

# Liste des volumes à monter
VOLUMES=("/chemin/hote:/conteneur:rw")

# Variables d'environnement (TAG="VALUE")
ENVS=()

# Fichier contenant les variables d'environnement - Chemin RELATIF
ENVFILE="conteneur.env"


# -------
# NETWORK
# -------

# Liste des réseaux à connecter au conteneur (rien pour utiliser docker-bridge)
NETWORKS=("reseau-proxy")

# Liens entre les conteneurs (preferer les reseaux)
LINKS=("")

# Ports à exposer : PORTS=("ALL") pour exposer tous les ports du conteneur (docker "-P")
PORTS=("1234:1234")


# -----
# OTHER
# -----

# Commande à lancer (overwrite entrypoint) - Vide par défaut
#ENTRYPOINT="sh -c \"echo sleep 1000 && sleep 1000\""

# Commandes supplémentaires a passer dans "docker create"
#BONUS_CMD=("--privileged")


# ---------
# SECURITY
# ---------

# Les CAPABILITIES sont toutes retirées par défaut. 
# "DEFAULT" ne rien retirer (fonctionnement de Docker par défaut).
#
# Options : (chown, dac_override, fowner, fsetid, kill, setgid, setuid, setpcap, net_bind_service, net_raw, sys_chroot, mknod, audit_write, setfcap)
# Liste et description :
# https://en.wikibooks.org/wiki/Grsecurity/Appendix/Capability_Names_and_Descriptions
# Exemple pour chmod et chown : CAPS=("chown" "fowner" "setgid" "setuid" "dac_override")
CAPS=("")
