# -----
# IMAGE
# -----

## Nom du conteneur
NOM="ghost"

## Nom de l'image utilisée (locale de préférence)
IMAGE="lmilcent/ghost"

## Tag "latest" par defaut
#TAG="distroless"
TAG="3.0.0-distroless"


# -----------
# COMPILATION
# -----------

## Chemin vers le fichier "Dockerfile" pour une compilation locale (vide par défaut)
## Chemin relatif ou complet
## Si le chemin est vide, hub.docker.com sera utilisé
BUILD_PATH="build-ghost/"

## Labels à rajouter lors de la compilation de l'image. Rien par défaut.
LABELS=(
"traefik.enable=true"
"traefik.frontend.rule=Host:blog.lmilcent.com"
"traefik.port=2368"
"traefik.backend=Ghost"
"traefik.docker.network=proxy"
"traefik.frontend.entryPoints=http,https"
"traefik.frontend.redirect.entryPoint=https"
"traefik.protocol=http"
)


# ---------
# LANCEMENT
# ---------

## Synchroniser l'horloge avec /etc/localtime : true (défaut) / false
LOCALTIME=false

## Interactif avec ou sans shell : true / false (défaut)
INTERACTIVE=false
TTY=false

## Attacher ou detacher : true (défaut) / false
DETACH=true

## Restart - no (défaut)/ on-failure[:nb] / always / unless-stopped
RESTART=unless-stopped

## Supprimer si arrêté (non compatible avec RESTART autre que "no") - false (défaut) / true
REMOVE=false

## Stop Timeout
STOPTIMEOUT=10


# -----------
# PERFORMANCE
# -----------

## Cpu : 1 (défaut) / 0 pour désactiver la limite
NBCPUS=1

## Memoire Ram et Swap : 0 pour désactiver
MEM=512m

## SWAP Total possible = SWAP - MEM
MEMSWAP=512m
MEMSWAPPINESS=0


# ------------
# VOLUME & ENV
# ------------

# Liste des volumes à monter
VOLUMES=(
  "ghost-content:/ghost/content:rw"
)

# Variables d'environnement (TAG="VALUE")
ENVS=()

# Fichier contenant les variables d'environnement - Chemin RELATIF
ENVFILE=""


# -------
# NETWORK
# -------

# Liste des réseaux à connecter au conteneur
NETWORKS=("proxy" "ghost-backend")

# Liens entre les conteneurs (preferer les reseaux)
LINKS=("")

# Ports à exposer : PORTS=("ALL") pour exposer tous les ports du conteneur
PORTS=()


# -----
# OTHER
# -----

# Commande à lancer (overwrite entrypoint) - Vide par défaut
#ENTRYPOINT="sh -c \"echo sleep 1000 && sleep 1000\""

# Commandes supplémentaires a passer dans "docker create"
#BONUS_CMD=("--privileged")


# ---------
# SECURITY
# ---------

# Les CAPABILITIES sont toutes retirées par défaut.
# "DEFAULT" ne rien retirer (fonctionnement de Docker par défaut).
#
# Options : (chown, dac_override, fowner, fsetid, kill, setgid, setuid, setpcap, net_bind_service, net_raw, sys_chroot, mknod, audit_write, setfcap)
# Liste et description :
# https://en.wikibooks.org/wiki/Grsecurity/Appendix/Capability_Names_and_Descriptions

CAPS=()
